#ship_1 {
    width: 5rem;
    stroke-width: 4px;
    fill: lightgray;
}
#ship_2 {
    width: 25rem;
    stroke-width: 4px;
    fill: lightgray;
}
#ship_3 {
    width: 15rem;
    stroke-width: 4px;
    fill: lightgray;
}
#ship_4 {
    width: 15rem;
    stroke-width: 6px;
    fill: lightgray;
}
#ship_5 {
    width: 15rem;
    stroke-width: 4px;
    fill: lightgray;
}